GLPI_BASE_URL=http://localhost:8080
GLPI_CLIENT_ID=
GLPI_CLIENT_SECRET=
GLPI_USERNAME=
GLPI_PASSWORD=

# Opcionais: necessários apenas se for utilizar as tools de Base de Conhecimento (API v1)
GLPI_API_V1_APP_TOKEN=
GLPI_API_V1_USER_TOKEN=
